 /*TODO GTB-工程实践: - 组件的css文件应该和其js文件放入一个文件夹下，其他css文件同理*/

.stu{
    float: left;
}

.stu ul{
    list-style: none;
    display: block;
    padding-bottom: 10px;
    background-color: rgb(238, 238, 238);
    margin-left: 20px;
}

.stu li{
    display: inline;
    padding: 0px;
}